body .bg {
  background-size: 400%; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.header {
  border-left: none;
  height: 100px;
  width: auto; }
  .header * {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  @media (max-width: 768px) {
    .header {
      height: auto !important; } }
  .header ul.nav {
    float: none;
    top: initial;
    transform: none;
    left: initial;
    display: flex;
    justify-content: center; }
    .header ul.nav li {
      margin: 2em !important; }

.body-container {
  overflow-x: hidden; }
  .body-container.active .section .details {
    padding: 0;
    width: 100%; }
  .body-container.active .section.work .project-wrapper .project-container:not(.current) {
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    transform: translateX(0vw); }
  .body-container.active .section.work .project-wrapper .project {
    width: 100vw; }
  .body-container.active .back-btn {
    -webkit-transition: opacity 1000ms ease 1000ms;
    -moz-transition: opacity 1000ms ease 1000ms;
    -ms-transition: opacity 1000ms ease 1000ms;
    -o-transition: opacity 1000ms ease 1000ms;
    transition: opacity 1000ms ease 1000ms;
    z-index: 4;
    opacity: 1; }
    .body-container.active .back-btn .close-btn {
      -webkit-transition: all 1s ease 1.25s;
      -moz-transition: all 1s ease 1.25s;
      -ms-transition: all 1s ease 1.25s;
      -o-transition: all 1s ease 1.25s;
      transition: all 1s ease 1.25s;
      stroke-dashoffset: 0; }

.section {
  display: block;
  float: none !important;
  overflow: initial;
  padding: 0 !important;
  position: relative;
  min-height: initial;
  height: 100%;
  width: 100%;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }
  @media (min-width: 1024px) {
    .section {
      height: 100vh; } }
  @media (min-width: 640px) {
    .section p {
      font-size: 1.6em !important; } }
  .section .section-title {
    line-height: 1 !important;
    padding: 0 2.5% 2.5% 2.5% !important;
    top: 0; }
    @media (min-width: 1024px) {
      .section .section-title {
        margin-bottom: 0; } }
  .section.hello {
    margin-bottom: 100px;
    margin-top: 50px;
    overflow: hidden;
    top: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
    @media (min-width: 768px) {
      .section.hello {
        margin-bottom: 200px; } }
    @media (min-width: 1024px) {
      .section.hello {
        margin-bottom: 0; } }
    .section.hello .section-title {
      margin-bottom: 0 !important; }
      @media (min-width: 768px) {
        .section.hello .section-title {
          top: 50px; } }
  .section.work {
    height: auto;
    margin-bottom: 50px;
    padding: 0; }
    @media (min-width: 768px) {
      .section.work {
        margin-bottom: 200px; } }
    .section.work h2 {
      border: none; }
      @media (max-width: 768px) {
        .section.work h2 {
          font-size: 1.4em;
          margin-bottom: 100px; } }
    .section.work .section-title {
      transition: none; }
      @media (max-width: 768px) {
        .section.work .section-title {
          margin-bottom: 35px !important; } }
    .section.work .piece1 {
      margin-top: 0; }
      .section.work .piece1:hover {
        cursor: pointer; }
    .section.work .project {
      position: relative;
      width: 100vw !important;
      z-index: 1;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
      .section.work .project.current {
        z-index: 2; }
      .section.work .project.transform {
        -webkit-transform: translateZ(-100px);
        -moz-transform: translateZ(-100px);
        -ms-transform: translateZ(-100px);
        transform: translateZ(-100px); }
      .section.work .project h2 {
        margin-top: 0;
        padding-top: 0; }
        @media (max-width: 768px) {
          .section.work .project h2 {
            margin-bottom: 30px !important; } }
        @media (max-width: 768px) {
          .section.work .project h2 .number {
            margin-top: 0 !important;
            right: 105% !important;
            top: auto !important; } }
  .section.about {
    height: auto;
    margin-bottom: 175px;
    overflow: hidden;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
    .section.about .section-title {
      z-index: 1; }

.work-title {
  padding-left: 2.5% 2.5% 0 2.5%;
  margin-bottom: 0 !important;
  line-height: 1 !important; }

.project-wrapper {
  left: 0px;
  overflow: hidden;
  width: 500%;
  -webkit-transition: all 1.5s cubic-bezier(0.65, 0.13, 0.35, 1.02);
  -moz-transition: all 1.5s cubic-bezier(0.65, 0.13, 0.35, 1.02);
  -ms-transition: all 1.5s cubic-bezier(0.65, 0.13, 0.35, 1.02);
  -o-transition: all 1.5s cubic-bezier(0.65, 0.13, 0.35, 1.02);
  transition: all 1.5s cubic-bezier(0.65, 0.13, 0.35, 1.02); }

.project-container {
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease; }
  @media (min-width: 1024px) {
    .project-container:not(.current) {
      -webkit-transform: translateX(-10vw);
      -moz-transform: translateX(-10vw);
      -ms-transform: translateX(-10vw);
      transform: translateX(-10vw); } }

.intro {
  position: absolute;
  left: -999em; }

.details {
  float: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  @media (min-width: 1024px) {
    .details {
      padding-left: 2.5%;
      width: 80%; } }

.piece:not(.piece1) {
  display: none;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important; }

.project-title {
  max-height: 300px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.project-details {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .project-details video {
    width: 100%; }
  .project-details img {
    width: 100%; }
  .project-details.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.back-btn {
  background-color: #35FDFF;
  color: #fff;
  font-size: 16px;
  height: 50px;
  width: 50px;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: opacity 500ms ease 0;
  -moz-transition: opacity 500ms ease 0;
  -ms-transition: opacity 500ms ease 0;
  -o-transition: opacity 500ms ease 0;
  transition: opacity 500ms ease 0; }
  .back-btn:hover {
    cursor: pointer; }
  .back-btn span {
    background: #092D2D;
    height: 1px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
    .back-btn span:nth-child(2) {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }

.close-btn {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.nav-keys {
  opacity: 0;
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease; }
  .nav-keys.active {
    opacity: 1; }

/*# sourceMappingURL=custom.css.map */
