@mixin transform($transition) {
  -webkit-transform: $transition;
     -moz-transform: $transition;
      -ms-transform: $transition;
          transform: $transition;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transition-delay($args) {
  -webkit-transition-delay: $args;
  -moz-transition-delay: $args;
  -ms-transition-delay: $args;
  -o-transition-delay: $args;
  transition-delay: $args;
}

@mixin perspective($args) {
  -webkit-perspective: $args;
  -moz-perspective: $args;
  -ms-perspective: $args;
  -o-perspective: $args;
  perspective: $args;
}

@mixin perspective-origin($args) {
  -webkit-perspective-origin: $args;
  -moz-perspective-origin: $args;
  -ms-perspective-origin: $args;
  -o-perspective-origin: $args;
  perspective-origin: $args;
}

@mixin transform-style($args) {
  -webkit-transform-style: $args;
  -moz-transform-style: $args;
  -ms-transform-style: $args;
  -o-transform-style: $args;
  transform-style: $args;
}

@mixin transform-origin($args) {
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -ms-transform-origin: $args;
  -o-transform-origin: $args;
  transform-origin: $args;
} 


body {
  .bg {
    background-size: 400%;
    // height: 100%;
  }
}


.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


// The Navigation bar. Full width and fixed
// on mobile. Top right on desktop.
.header {
  border-left: none;
  height: 100px;
  width: auto;
  * {
    @include transition( all 1s ease );
  }
  @media (max-width: 768px) {
    height: auto !important;
  }
  ul.nav {
    float: none;
    top: initial;
    transform: none;
    left: initial;
    display: flex;
    justify-content: center;
    li {
      margin: 2em !important;
    }    
  }
}



.body-container {
  overflow-x: hidden;
  &.active {
    .section {
      .details {
        padding: 0;
        width: 100%;
      }
      &.work {
        .project-wrapper {
          // overflow: initial;
          .project-container:not(.current) {
            @include transform( translateX(0vw) );
          }
          .project {
            width: 100vw;
          }
        }
      }
    }
  }
}


.section {
  display: block;
  float: none !important;
  overflow: initial;
  padding: 0 !important;
  position: relative;
  min-height: initial;
  height: 100%;
  width: 100%;
  @include transition( all 2s ease );
  @media (min-width: 1024px) {
    height: 100vh;
  }
  p {
    @media (min-width: 640px) {
      font-size: 1.6em !important;
    }
  }
  .section-title {
    line-height: 1 !important;
    padding: 0 2.5% 2.5% 2.5% !important;
    top: 0;
    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }
  &.hello {
    margin-bottom: 100px;
    margin-top: 50px;
    overflow: hidden;
    top: 0;
    @include transition(none);
    @media (min-width: 768px) {
      margin-bottom: 200px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
    .section-title {
      margin-bottom: 0 !important;
      @media (min-width: 768px) {
        top: 50px;
      }
    }
  }
  &.work {
    height: auto;
    margin-bottom: 50px;
    padding: 0;
    @media (min-width: 768px) {
      margin-bottom: 200px;
    }
    h2 {
      border: none;
      @media (max-width: 768px) {
        font-size: 1.4em;
        margin-bottom: 100px;
      }
    }
    .section-title {
      transition: none;
      @media (max-width: 768px) {
        margin-bottom: 35px !important;
      }
    }
    .piece1 {
      margin-top: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .project {
      position: relative;
      width: 100vw !important; 
      z-index: 1;
      @include transition( all 1s ease );
      &.current {
        z-index: 2;
      }
      &.transform {
        @include transform(translateZ(-100px));
        // @include transform( scale(0.8) );
      }
      h2 {
        margin-top: 0;
        padding-top: 0;
        @media (max-width: 768px) {
          margin-bottom: 30px !important;
        }
        .number {
          @media (max-width: 768px) {
            margin-top: 0 !important;
            right: 105% !important;
            top: auto !important;
          }
        }
      }
    }
  }
  &.about {
    height: auto;
    margin-bottom: 175px;
    overflow: hidden;
    @include transition(none);
    .section-title {
      z-index: 1;
    }
  }
}



.work-title {
  padding-left: 2.5% 2.5% 0 2.5%;
  margin-bottom: 0 !important;
  line-height: 1 !important;
}

.project-wrapper {
  left: 0px;
  overflow:hidden;
  width: 500%;
  @include transition( all 1.5s cubic-bezier(0.65, 0.13, 0.35, 1.02) );
}

.project-container {
  float: left;
  position: relative;
  @include perspective(1000px);
  @include transition( transform 1s ease );
  &:not(.current) {
    @media (min-width: 1024px) {
      @include transform( translateX(-10vw) );
    }
  } 
}

.intro {
  position: absolute;
  left: -999em;
}

.details {
  float: none;
  // position: absolute;
  // top: 250px;
  @include transition( all 1s ease );
  @media (min-width: 1024px) {
    padding-left: 2.5%;
    width: 80%;
  }

}

.piece:not(.piece1) {
  display: none;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.project-title {
  max-height: 300px;
  overflow: hidden;
  @include transition( all 1s ease );
}

.project-details {
  // display: none !important;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
  @include transition( all 1s ease );
  // @include transform( scale(0) );
  video {
    width: 100%;
  }
  img {
    width: 100%;
  }
  &.active {
    @include transform( scale(1) );
  }
}